## Importing libraries required

In [1]:
#import kagglehub
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import statsmodels as sm

dataset copied to working directory from kagglehub

## Importing sheets from Dataset

In [2]:
education = pd.read_csv('education.csv')
uic_codes = pd.read_csv('UIC_codes.csv')
unemployment = pd.read_csv('unemployment.csv')

In [ ]:
print(education)

In [ ]:
print(uic_codes)

In [ ]:
print(unemployment)

In [3]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3283 entries, 0 to 3282
Data columns (total 48 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   FIPS Code                                                                 3283 non-null   int64
 1   State                                                                     3283 non-null   object
 2   Area name                                                                 3283 non-null   object
 3   2003 Rural-urban Continuum Code                                           3221 non-null   float64
 4   2003 Urban Influence Code                                                 3221 non-null   float64
 5   2013 Rural-urban Continuum Code                                           3221 non-null   float64
 6   2013 Urban Influence Code                                                 3221 non-null   float64
 7   City/Suburb/Town/Rural 2013                                               3221 non-null   object
 8   Less than a high school diploma, 1970                                     3186 non-null   object
 9   High school diploma only, 1970                                            3186 non-null   object
 10  Some college (1-3 years), 1970                                            3186 non-null   object
 11  Four years of college or higher, 1970                                     3186 non-null   object
 12  Percent of adults with less than a high school diploma, 1970              3186 non-null   float64
 13  Percent of adults with a high school diploma only, 1970                   3186 non-null   float64
 14  Percent of adults completing some college (1-3 years), 1970               3186 non-null   float64
 15  Percent of adults completing four years of college or higher, 1970        3186 non-null   float64
 16  Less than a high school diploma, 1980                                     3267 non-null   object
 17  High school diploma only, 1980                                            3267 non-null   object
 18  Some college (1-3 years), 1980                                            3267 non-null   object
 19  Four years of college or higher, 1980                                     3267 non-null   object
 20  Percent of adults with less than a high school diploma, 1980              3267 non-null   float64
 21  Percent of adults with a high school diploma only, 1980                   3267 non-null   float64
 22  Percent of adults completing some college (1-3 years), 1980               3267 non-null   float64
 23  Percent of adults completing four years of college or higher, 1980        3267 non-null   float64
 24  Less than a high school diploma, 1990                                     3271 non-null   object
 25  High school diploma only, 1990                                            3271 non-null   object
 26  Some college or associate's degree, 1990                                  3271 non-null   object
 27  Bachelor's degree or higher, 1990                                         3271 non-null   object
 28  Percent of adults with less than a high school diploma, 1990              3271 non-null   float64
 29  Percent of adults with a high school diploma only, 1990                   3271 non-null   float64
 30  Percent of adults completing some college or associate's degree, 1990     3270 non-null   float64
 31  Percent of adults with a bachelor's degree or higher, 1990                3271 non-null   float64
 32  Less than a high school diploma, 2000                                     3272 non-null   object
 33  High school diploma only, 2000                                            3272 non-null   object
 34  Some college or associate's degree, 2000                                  3272 non-null   object
 35  Bachelor's degree or higher, 2000                                         3272 non-null   object
 36  Percent of adults with less than a high school diploma, 2000              3272 non-null   float64
 37  Percent of adults with a high school diploma only, 2000                   3272 non-null   float64
 38  Percent of adults completing some college or associate's degree, 2000     3272 non-null   float64
 39  Percent of adults with a bachelor's degree or higher, 2000                3272 non-null   float64
 40  Less than a high school diploma, 2015-19                                  3273 non-null   object
 41  High school diploma only, 2015-19                                         3273 non-null   object
 42  Some college or associate's degree, 2015-19                               3273 non-null   object
 43  Bachelor's degree or higher, 2015-19                                      3273 non-null   object
 44  Percent of adults with less than a high school diploma, 2015-19           3273 non-null   float64
 45  Percent of adults with a high school diploma only, 2015-19                3273 non-null   float64
 46  Percent of adults completing some college or associate's degree, 2015-19  3273 non-null   float64
 47  Percent of adults with a bachelor's degree or higher, 2015-19             3273 non-null   float64
dtypes: float64(24), int64(1), object(23)
memory usage: 1.2+ MB

In [6]:
uic_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FIPS                    3221 non-null   int64
 1   State                   3221 non-null   object
 2   County_Name             3221 non-null   object
 3   Population_2010         3221 non-null   object
 4   UIC_2013                3221 non-null   int64
 5   Description             3221 non-null   object
 6   City/Suburb/Town/Rural  3221 non-null   object
dtypes: int64(2), object(5)
memory usage: 176.3+ KB

In [7]:
unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 93 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FIPS_Code                                  3275 non-null   int64
 1   State                                      3275 non-null   object
 2   Area_name                                  3275 non-null   object
 3   Rural_urban_continuum_code_2013            3219 non-null   float64
 4   Urban_influence_code_2013                  3219 non-null   float64
 5   City/Suburb/Town/Rural                     3219 non-null   object
 6   Metro_2013                                 3222 non-null   float64
 7   Civilian_labor_force_2000                  3270 non-null   object
 8   Employed_2000                              3270 non-null   object
 9   Unemployed_2000                            3270 non-null   object
 10  Unemployment_rate_2000                     3270 non-null   float64
 11  Civilian_labor_force_2001                  3270 non-null   object
 12  Employed_2001                              3270 non-null   object
 13  Unemployed_2001                            3270 non-null   object
 14  Unemployment_rate_2001                     3270 non-null   float64
 15  Civilian_labor_force_2002                  3270 non-null   object
 16  Employed_2002                              3270 non-null   object
 17  Unemployed_2002                            3270 non-null   object
 18  Unemployment_rate_2002                     3270 non-null   float64
 19  Civilian_labor_force_2003                  3270 non-null   object
 20  Employed_2003                              3270 non-null   object
 21  Unemployed_2003                            3270 non-null   object
 22  Unemployment_rate_2003                     3270 non-null   float64
 23  Civilian_labor_force_2004                  3270 non-null   object
 24  Employed_2004                              3270 non-null   object
 25  Unemployed_2004                            3270 non-null   object
 26  Unemployment_rate_2004                     3270 non-null   float64
 27  Civilian_labor_force_2005                  3263 non-null   object
 28  Employed_2005                              3263 non-null   object
 29  Unemployed_2005                            3263 non-null   object
 30  Unemployment_rate_2005                     3263 non-null   float64
 31  Civilian_labor_force_2006                  3263 non-null   object
 32  Employed_2006                              3263 non-null   object
 33  Unemployed_2006                            3263 non-null   object
 34  Unemployment_rate_2006                     3263 non-null   float64
 35  Civilian_labor_force_2007                  3270 non-null   object
 36  Employed_2007                              3270 non-null   object
 37  Unemployed_2007                            3270 non-null   object
 38  Unemployment_rate_2007                     3270 non-null   float64
 39  Civilian_labor_force_2008                  3270 non-null   object
 40  Employed_2008                              3270 non-null   object
 41  Unemployed_2008                            3270 non-null   object
 42  Unemployment_rate_2008                     3270 non-null   float64
 43  Civilian_labor_force_2009                  3270 non-null   object
 44  Employed_2009                              3270 non-null   object
 45  Unemployed_2009                            3270 non-null   object
 46  Unemployment_rate_2009                     3270 non-null   float64
 47  Civilian_labor_force_2010                  3272 non-null   object
 48  Employed_2010                              3272 non-null   object
 49  Unemployed_2010                            3272 non-null   object
 50  Unemployment_rate_2010                     3272 non-null   float64
 51  Civilian_labor_force_2011                  3272 non-null   object
 52  Employed_2011                              3272 non-null   object
 53  Unemployed_2011                            3272 non-null   object
 54  Unemployment_rate_2011                     3272 non-null   float64
 55  Civilian_labor_force_2012                  3272 non-null   object
 56  Employed_2012                              3272 non-null   object
 57  Unemployed_2012                            3272 non-null   object
 58  Unemployment_rate_2012                     3272 non-null   float64
 59  Civilian_labor_force_2013                  3272 non-null   object
 60  Employed_2013                              3272 non-null   object
 61  Unemployed_2013                            3272 non-null   object
 62  Unemployment_rate_2013                     3272 non-null   float64
 63  Civilian_labor_force_2014                  3272 non-null   object
 64  Employed_2014                              3272 non-null   object
 65  Unemployed_2014                            3272 non-null   object
 66  Unemployment_rate_2014                     3272 non-null   float64
 67  Civilian_labor_force_2015                  3272 non-null   object
 68  Employed_2015                              3272 non-null   object
 69  Unemployed_2015                            3272 non-null   object
 70  Unemployment_rate_2015                     3272 non-null   float64
 71  Civilian_labor_force_2016                  3272 non-null   object
 72  Employed_2016                              3272 non-null   object
 73  Unemployed_2016                            3272 non-null   object
 74  Unemployment_rate_2016                     3272 non-null   float64
 75  Civilian_labor_force_2017                  3272 non-null   object
 76  Employed_2017                              3272 non-null   object
 77  Unemployed_2017                            3272 non-null   object
 78  Unemployment_rate_2017                     3272 non-null   float64
 79  Civilian_labor_force_2018                  3272 non-null   object
 80  Employed_2018                              3272 non-null   object
 81  Unemployed_2018                            3272 non-null   object
 82  Unemployment_rate_2018                     3272 non-null   float64
 83  Civilian_labor_force_2019                  3272 non-null   object
 84  Employed_2019                              3272 non-null   object
 85  Unemployed_2019                            3272 non-null   object
 86  Unemployment_rate_2019                     3272 non-null   float64
 87  Civilian_labor_force_2020                  3193 non-null   object
 88  Employed_2020                              3193 non-null   object
 89  Unemployed_2020                            3193 non-null   object
 90  Unemployment_rate_2020                     3193 non-null   float64
 91  Median_Household_Income_2019               3193 non-null   object
 92  Med_HH_Income_Percent_of_State_Total_2019  3192 non-null   float64
dtypes: float64(25), int64(1), object(67)
memory usage: 2.3+ MB