## Importing libraries required

In [2]:
#import kagglehub
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import statsmodels as sm

dataset copied to working directory from kagglehub

## Importing sheets from Dataset

In [ ]:
education = pd.read_csv('education_2023.csv')
unemployment = pd.read_csv('unemployment_2023.csv')
quality_of_life = pd.read_csv('QOL.csv')
ltss_2022 = pd.read_csv('ltss_2022.csv')
ltss_expenses = pd.read_csv('ltss_expenses.csv')
us_states = pd.read_csv('us_states.csv')

# Data Cleansing: Target Variables and Naming Conventions
see: documentation/data_model.md

## Subset for most recetn values: education and unemployment

In [ ]:
# education and unemployment subsets
education_22_subset = education['Attribute'].isin(['FIPS Code','Area Name', 'State', 'Less than high school graduate, 2019-23', 'High school graduate (or equivalency), 2019-23', 'Some college or associate degree, 2019-23', 'Bachelor\'s degree or higher, 2019-23'])
unemployment_22_subset = unemployment['Attribute'].isin(['FIPS Code','Area Name', 'State', 'FIPS_Code','Area_Name', 'State', 'Civilian_labor_force_2022', 'Employed_2022', 'Unemployed_2022'])

In [17]:
education_22 = education[education_22_subset]
unemployment_22 = unemployment[unemployment_22_subset]

In [8]:
education_names = {'FIPS Code': 'fips', 'Area Name':'county', 'State':'state', 'Less than high school graduate, 2019-23': 'no_hs_diploma', 'High school graduate (or equivalency), 2019-23':'hs_diploma', 'Some college or associate degree, 2019-23': 'some_college', 'Bachelor\'s degree or higher, 2019-23': 'bachelors_or_more'}
unemployment_names = {'FIPS_Code':'fips', 'Area_Name':'county', 'State':'state', 'Civilian_labor_force_2022':'labor_force', 'Employed_2022':'employed', 'Unemployed_2022':'unemployed'}

In [ ]:
#education_dtypes = {'fips': 'str', 'county': 'str', 'state': 'str', 'no_hs_diploma': 'float', 'hs_diploma': 'float', 'some_college': 'float', 'bachelors_or_more': 'float'}
#unemployment_dtypes = {'fips': 'str', 'county': 'str', 'state': 'str', 'labor_force': 'float', 'employed': 'float', 'unemployed': 'float'}

In [ ]:
def clean_dataframe(df, subset, names):
    #df = df[subset]
    df = df.rename(columns=names)
    return df

In [16]:
clean_dataframe(education, education_22_subset, education_names)
clean_dataframe(unemployment, unemployment_22_subset, unemployment_names)

,fips,state,county,Attribute,Value
88,0,US,United States,Civilian_labor_force_2022,164341251.0
89,0,US,United States,Employed_2022,158342285.0
90,0,US,United States,Unemployed_2022,5998966.0
185,1000,AL,Alabama,Civilian_labor_force_2022,2276362.0
186,1000,AL,Alabama,Employed_2022,2218627.0
...,...,...,...,...,...
329624,72151,PR,"Yabucoa Municipio, PR",Employed_2022,8499.0
329625,72151,PR,"Yabucoa Municipio, PR",Unemployed_2022,772.0
329718,72153,PR,"Yauco Municipio, PR",Civilian_labor_force_2022,10311.0
329719,72153,PR,"Yauco Municipio, PR",Employed_2022,9247.0
329720,72153,PR,"Yauco Municipio, PR",Unemployed_2022,1064.0

# Insights